<h1>Listing autor_pics</h1>

<table>
  <tr>
    <th>Autor</th>
    <th>Pic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @autor_pics.each do |autor_pic| %>
  <tr>
    <td><%= autor_pic.autor %></td>
    <td><%= autor_pic.pic %></td>
    <td><%= link_to 'Show', autor_pic %></td>
    <td><%= link_to 'Edit', edit_autor_pic_path(autor_pic) %></td>
    <td><%= link_to 'Destroy', autor_pic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Autor pic', new_autor_pic_path %>
