<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @pic.titulo %>
</p>

<p>
  <b>Archivo:</b>
  <%= @pic.nombrearchivo %>
</p>

<p>
  <b>Tipo:</b>
  <%= @pic.tipo %>
</p>

<p>
	<%= image_tag @pic.tipo + "/" + @pic.nombrearchivo  %>
</p>

<p><b>Url: </b> <%= image_path @pic.tipo + "/" + @pic.nombrearchivo  %>
</p>
<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
