<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @pic.titulo %>
</p>

<p>
  <b>Nombrearchivo:</b>
  <%= @pic.nombrearchivo %>
</p>

<p>
  <b>Tipo:</b>
  <%= @pic.tipo %>
</p>


<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
